streamlit
pandas
numpy
requests
supabase
boto3
upstash-redis
qdrant-client
bcrypt
thefuzz
python-Levenshtein
cryptography
streamlit-cookies-controller
streamlit-option-menu
pypdf
opencv-python-headless
pytesseract
Pillow
pdf2image
zstandard
sentry-sdk
